/* Bottom Content */

.bottom-content {
    margin-top: 20px;
    margin-right: 6px;
    margin-left: 6px;
}

.card {
    height: 100%;
}

.bottom-section .col {
    margin-top: 20px;
}

.bottom-content .col .card {
    -webkit-box-shadow: 0px 1.74px 3.77px 1.02px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1.74px 3.77px 1.02px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1.74px 3.77px 1.02px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.right-section .card {
    -webkit-box-shadow: 0px 3px 3.77px 1.02px rgba(0, 0, 0, 0.2)!important;
    -moz-box-shadow: 0px 3px 3.77px 1.02px rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0px 3px 3.77px 1.02px rgba(0, 0, 0, 0.2)!important;
    border: 0!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

/*.bottom-content .map-section {*/
/*    margin-top: 20px;*/
/*}*/

/*.bottom-content .map-section p {*/
/*    color: #000000;*/
/*    font-size: 17px;*/
/*    font-weight: bold;*/
/*}*/

.bottom-content .map-section .col-9 {
    padding: 1.25rem;
    padding-left: 2rem;
}

.bottom-content .map-section .col-3 {
    padding: 1.25rem;
}


.header-title {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    text-transform: none;
}

.left-section .range img {
    width: 100%;
}

.left-section .col .col {
    padding-bottom: 20px;
}

.header-title {
    color: #000000 !important;
    font-size: 17px !important;
    text-transform: initial !important;
}

.bottom-content .left-section {
    height: auto;
}

.bottom-content .left-section .card {
    height: auto;
}

.bottom-content .left-section .cost-value .name {
    color: #657584;
    font-size: 17px;
    font-weight: bold;
    padding-right: 10px;
}

.bottom-content .left-section .cost-value .percentage,
.bottom-content .left-section .cost-value i {
    font-size: 17px;
    font-weight: bold;
}

.bottom-content .left-section .cost-value .percentage-up,
.bottom-content .left-section .cost-value i.fa-arrow-up {
    color: #C94343;
}

.bottom-content .left-section .cost-value .percentage-down,
.bottom-content .left-section .cost-value i.fa-arrow-down {
    color: #4FB535;
}

.bottom-content .left-section .cost-value .bottom {
    margin-top: 10px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

.bottom-content .left-section .cost-value {
    margin-top: 20px;
    margin-bottom: 23px;
}


.bar-chart {

    height: 24px;
    margin-bottom: 2rem;
}

.bar-chart .bar-chart--inner {

    height: 100%;
    display: block;
    margin-bottom: 0.3rem;
    position: relative;
    will-change: width;
    border-bottom-right-radius: 99px;
    border-top-right-radius: 99px;
}

.chart1 .bar-chart.primary .bar-chart--inner {
    background: #FE8626;
}

.chart1 .bar-chart.secondary .bar-chart--inner {
    background: #35BEE2;
}

.chart1 .bar-chart.tertiary .bar-chart--inner {
    background: #74BC29;
}

.chart1 .bar-chart.fourth .bar-chart--inner {
    background: #F2C22F;
}

.chart1 .bar-chart.fifth .bar-chart--inner {
    background: #6C4BA2;
}

.chart-bar {
    margin-top: 20px;
    padding-bottom: 10px;
    background: url(../images/chart/chart.svg);
    background-position: center;
    background-size: cover;
}


.chart2 .bar-chart.secondary .bar-chart--inner {
    background: #35BEE2;
}

.chart2 .bar-chart.tertiary .bar-chart--inner {
    background: #6C4BA2;
}

.chart2 .bar-chart.fourth .bar-chart--inner {
    background: #FE8626;
}

.chart2 .bar-chart.fifth .bar-chart--inner {
    background: #FE2939;
}

.chart2 .bar-chart.primary .bar-chart--inner {
    background: #74BC29;
}

.chart2 .bar-chart.secondary .bar-chart--inner {
    background: #35BEE2;
}

.chart2 .bar-chart.tertiary .bar-chart--inner {
    background: #6C4BA2;
}

.chart2 .bar-chart.fourth .bar-chart--inner {
    background: #FE8626;
}

.chart2 .bar-chart.fifth .bar-chart--inner {
    background: #FE2939;
}

.chart-bar .bar-chart:last-child {
    margin-bottom: 0;
}

.chart-bar {
    border-bottom: 1px solid #000;
}

.chart-bar .bar-chart {
    position: relative;
    display: flex;
}

.chart-bar .bar-chart .bar-chart--text {
    position: absolute;
    top: -20px;
    left: 10px;
}

.chart-bar .bar-chart .bar-chart--text .bar-chart--money {
    font-weight: bold;
    padding-left: 7px;
}

.chart-bar .bar-chart .bar-chart--percentage {
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
}


.title-section {
    display: flex;
    align-items: baseline;
    font-size: 12px;
    margin-bottom: 40px;
}

#flot-chart {
    margin-top: 30px;
}

.title-section h4 {
    padding-right: 15px;
}

.right-section .col {
    padding-left: 0;
}

.text-for-chart {
    margin-top: 30px;
}

.text-for-chart .col-6 div {
    width: fit-content;
    margin: auto;
}


.text-for-chart .first-number .circle-color {
    background-color: #0088F0;
}

.text-for-chart .second-number .circle-color {
    background-color: #EF2A82;
}

.text-for-chart .first-number .number-color {
    color: #0088F0;
    font-size: 20px;
    margin-left: 5px;
}

.text-for-chart .second-number .number-color {
    color: #EF2A82;
    font-size: 20px;
    margin-left: 5px;
}

.text-for-chart .col-6 .circle-color {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 99px;
}

.text-for-chart .col-6 p {
    color: #8794BA;
    font-size: 14px;
    margin-left: 26px;
}
.left-section .top-text-number {
    padding: 15px;
}

.left-section .top-text-number .text-title  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.left-section .top-text-number .text-title .header-title {
    color: #657584!important;
}
.left-section .top-text-number .text-title .text-title-percentage {
    color: #000!important;
    font-size: 20px;
}
.left-section .top-text-number .text-title .text-title-percentage2 {
    color: #4FB535!important;
    font-size: 14px;
}

.left-section .top-text-number {
    border-bottom: 2px solid #E8E8E8;
}
.consignment {
    color: #C94343!important;
    font-size: 30px;
}

.bottom-text-number {
     padding: 15px;
     border-top: 2px solid #E8E8E8;
 }

.bottom-text-number .header-title{
    color: #657584!important;
}

.performance-bar {
    width: 100%;
    background-color: #E7EBEF;
    border-radius: 99px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.performance-bar .bar{
    background-color: #4FB535;
    text-align: right;
    height: 15px;
    position: relative;
    border-bottom-left-radius: 99px;
    border-top-left-radius: 99px;
}

.performance-bar .bar .percentage-of-bar{
    font-size: 14px;
    font-weight: 700;
    color: #4FB535;
    position: absolute;
    top: -20px;
    margin-left: -25px;
}

.right-section .card{
    width: 100%;
    height: calc(100% - 128px);
}
.right-section .row{
    width: 100%;
    height: 100%;
}

.tab-section-head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tab-section-head button{
    width: 33.1%;
}

.apexcharts-toolbar {
    display: none!important;
}

.right-section .chart {
    padding-top: 30px;
}
.apexcharts-legend-series {
    margin-top: 25px!important;
}
.apexcharts-legend-series .apexcharts-legend-text{
    font-size: 17px!important;
    margin-right: 15px;
    margin-left: 15px;
}
.bar-item.active {
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

.bar-item  {
    padding-top: 5px;
    padding-bottom: 10px;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #EEEEF6;
    -webkit-box-shadow: 0px 1.74px 3.77px 1.02px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 1.74px 3.77px 1.02px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 1.74px 3.77px 1.02px rgba(0, 0, 0, 0.09);
}
.bar-item  p{
    color: #657584;
    font-size: 17px!important;
    margin-bottom: 5px;
}

.right-section,
.left-section{
    padding-left: 15px!important;
    padding-right: 15px!important;
}